---
layout: thank-you-page
---

<section class="content-section">

  {% include _elements/content-block.html
    style      = ""
    title      = "Casos de sucesso"
    paragraph  = "Clientes de diversos portes e segmentos contam suas hist&oacute;rias de resultados com o <strong class='no-break'>RD Station</strong>"
  %}

  {% include _elements/content-case-video.html
    caseName  = 'Com Inbound Marketing, Dialetto impulsiona faturamento e n&uacute;mero de clientes em dois anos'
    videoId   = 'YsQnl7ZXxKE'
    caseData1 = '40%'
    caseInfo1 = 'do faturamento v&ecirc;m da &aacute;rea de Inbound Marketing'
    caseData2 = '7&times;'
    caseInfo2 = 'mais clientes de servi&ccedil;os de Inbound Marketing em dois anos'
    caseData3 = '54%'
    caseInfo3 = 'dos clientes atuais contam com servi&ccedil;os da &aacute;rea digital'
  %}

  {% include _elements/content-case-video.html
    caseName  = 'Como a Marketeria gerou um ROI de 10 vezes para a cliente Simonetto'
    videoId   = 'wZ3dAsS-R0s'
    caseData1 = '8k'
    caseInfo1 = 'Leads gerados com Marketing Digital'
    caseData2 = '313'
    caseInfo2 = 'oportunidades de neg&oacute;cio'
    caseData3 = '82&times;'
    caseInfo3 = 'aumento no n&uacute;mero de vendas pela internet'
  %}

  {% include _elements/content-case-image.html
    caseName  = 'Como a Cupola vendeu um apartamento por Email Marketing'
    imgSrc    = 'https://d335luupugsy2.cloudfront.net/cms%2Ffiles%2F877%2F1461692528logo-black.png'
    caseData1 = '10%'
    caseInfo1 = 'reaproveitamento de Leads perdidos'
    caseData2 = '1'
    caseInfo2 = 'apartamento vendido por Email Marketing'
    caseData3 = '5'
    caseInfo3 = 'vendas do empreendimento por m&ecirc;s'
  %}

</section>
