.rich-resource {
  margin: 25px 0 20px 0;
  display: block;
  a {
    color: $white;
    font-size: 22px;
    font-weight: 300;
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
}
