{% include _elements/footer-typ-3-resources.html
  title              = "Conhe&ccedil;a mais dos nossos materiais ricos para Ag&ecirc;ncias"
  paragraph          = "&nbsp;"

  resource1link      = "http://materiais.resultadosdigitais.com.br/inbound-marketing-guia-basico"
  resource1imageSrc  = "https://d335luupugsy2.cloudfront.net/images/landing_page/99122/ebook_thank-u-page.png"
  resource1name      = "<strong>Guia:</strong> Inbound Marketing - tudo o que sua ag&ecirc;ncia precisa saber"

  resource2link      = "http://materiais.resultadosdigitais.com.br/ebook-os-desafios-das-agencias-de-resultados"
  resource2imageSrc  = "https://d335luupugsy2.cloudfront.net/images/landing_page/43618/offer-logo.png"
  resource2name      = "<strong>eBook:</strong> Os principais desafios das ag&ecirc;ncias de resultados"

  resource3link      = "http://materiais.resultadosdigitais.com.br/17-servicos-de-inbound-marketing"
  resource3imageSrc  = "https://d335luupugsy2.cloudfront.net/images/landing_page/15904/offer-logo.png"
  resource3name      = "<strong>eBook:</strong> 17 servi&ccedil;os de Inbound Marketing que sua empresa pode oferecer"
%}

<script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("style").remove();
    $("#conversion").addClass("col col-md-4").wrap( "<div class='content-wrapper'></div>" );
    $(window).load(function(){
    	$('#preloader').fadeOut('slow',function(){$(this).remove();});
    });
  });
</script>
