<!-- AGENCIAS -->
<!-- <section class="content-section content-block--featured--imaged">
  <div class="content-wrapper content-block content-block--featured">
    <div class="content-case">
      <h1 class="text-center">Veja como a <strong>Clint.digital</strong> aumentou seu faturamento com a oferta de serviços digitais</h1>
      <div class="row">
        <div class="col-md-6 col-video">
          <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4K239DO3RG0" width="320" height="240" frameborder="0" allowfullscreen=""></iframe></div>
        </div>
        <div class="col-md-6">
          <div class="case-info row">
            <div class="col-md-4">
              <span class="cases-number">60%</span><br> <span class="cases-description">do faturamento da agência atualmente são de clientes de Inbound Marketing</span>
            </div>
            <div class="col-md-4">
              <span class="cases-number">80%</span><br> <span class="cases-description">da meta estabelecida para 2015 foi batida nos primeiros cinco meses do ano</span>
            </div>
            <div class="col-md-4">
              <span class="cases-number">200%</span><br> <span class="cases-description">é a previsão de crescimento da empresa para 2015</span>
            </div>
            <div class="col-md-12">
              <a class="btn-primary content-header__btn text-center" target="_blank" href="http://blog.rdstation.com.br/estudos-de-caso/como-a-clint-digital-aumentou-o-faturamento-focando-em-servicos-de-inbound-marketing/">Conheça o case</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- TECNOLOGIA -->
<!-- <section class="content-section content-block--featured--imaged">
  <div class="content-wrapper content-block content-block--featured">
    <div class="content-case">
      <h1 class="text-center">Como a <strong>SocialBase</strong> foi do zero a uma presença eficiente em Marketing Digital</h1>
      <div class="row">
        <div class="col-md-6 col-video">
          <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l_YCmSuWP-o" width="320" height="240" frameborder="0" allowfullscreen=""></iframe></div>
        </div>
        <div class="col-md-6">
          <div class="case-info row">
            <div class="col-md-4">
              <span class="cases-number">80%</span><br> <span class="cases-description">mais Leads que em 2014</span>
            </div>
            <div class="col-md-4">
              <span class="cases-number">650%</span><br> <span class="cases-description">mais vendas que em 2014</span>
            </div>
            <div class="col-md-4">
              <span class="cases-number">70k+</span><br> <span class="cases-description">fãs na página do Facebook</span>
            </div>
            <div class="col-md-12">
              <a class="btn-primary content-header__btn text-center" target="_blank" href="http://blog.rdstation.com.br/estudos-de-caso/como-a-socialbase-foi-do-zero-a-uma-presenca-eficiente-em-marketing-digital/">Conheça o case</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- EDUCACAO -->
<section class="content-section content-block--featured--imaged">
  <div class="content-wrapper content-block content-block--featured">
    <div class="content-case">
      <h1 class="text-center">Como a <strong>UP Concurseiros</strong> aumentou suas vendas em 173% em 7 meses com o RD Station</h1>
      <div class="row">
        <div class="col-md-6 col-video">
          <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O5Zq_pFZEJo" width="320" height="240" frameborder="0" allowfullscreen=""></iframe></div>
        </div>
        <div class="col-md-6">
          <div class="case-info row">
            <div class="col-md-4">
              <span class="cases-number">2000%</span><br> <span class="cases-description">aumento no número de Leads</span>
            </div>
            <div class="col-md-4">
              <span class="cases-number">173%</span><br> <span class="cases-description">aumento no número de Vendas</span>
            </div>
            <div class="col-md-4">
              <span class="cases-number">80%</span><br> <span class="cases-description">taxa média de conversão das Landing Pages</span>
            </div>
            <div class="col-md-12">
              <a class="btn-primary content-header__btn text-center" target="_blank" href="http://blog.rdstation.com.br/estudos-de-caso/como-a-up-concurseiros-aumentou-suas-vendas-em-173-em-7-meses-com-o-rd-station/">Conheça o case</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    $("style").remove();
    $("#content").addClass("col col-md-8");
    $("#conversion").addClass("col col-md-4").wrap( "<div class='content-wrapper'></div>" );
    $(window).load(function(){
    	$('#preloader').fadeOut('slow',function(){$(this).remove();});
    });
  });
</script>
