<div class="content-block">
  <h1>Com Inbound Marketing, Dialetto impulsiona faturamento e n&uacute;mero de clientes em dois anos</h1>
  <div class="col-md-6 col-video">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YsQnl7ZXxKE" width="320" height="240" frameborder="0" allowfullscreen=""></iframe></div>
  </div>
  <div class="col-md-6">
    <div class="case-info row">
    <div class="col-md-4">
      <span class="cases-number">40%</span><br /> <span class="cases-description">do faturamento v&ecirc;m da &aacute;rea de Inbound Marketing</span>
    </div>
    <div class="col-md-4">
      <span class="cases-number">7&times;</span><br /> <span class="cases-description">mais clientes de servi&ccedil;os de Inbound Marketing em dois anos</span>
    </div>
    <div class="col-md-4">
      <span class="cases-number">54%</span><br /> <span class="cases-description">dos clientes atuais contam com servi&ccedil;os da &aacute;rea digital</span>
    </div>
  </div>
  </div>
</div>
