<!-- AGENCIAS -->
<!--
<div id="preloader" class="preloader"></div>

<header class="brand-header">
  <h1 class="brand-header__logo">RD Station</h1>
</header>

<section class="hero-header">
  <div class="content-wrapper">
    <div class="hero-header__content-block col-sm-6">
      <h1>Precisa gerar mais <strong>resultados para sua agência e seus clientes</strong>?</h1>
      <p>Veja como o <strong>RD Station</strong> e a <strong>oferta de serviços de Inbound Marketing</strong> podem alavancar o seu negócio</p>
    </div>
  </div>
</section> -->

<!-- TEC -->
<div id="preloader" class="preloader"></div>

<header class="brand-header">
  <h1 class="brand-header__logo">RD Station</h1>
</header>

<section class="hero-header">
  <div class="content-wrapper">
    <div class="hero-header__content-block col-sm-6">
      <h1>Sua empresa de tecnologia quer <strong>alavancar vendas e diminuir custos</strong>?</h1>
      <p>Saiba como o <strong>RD Station</strong>, nossa plataforma de integração e automação de marketing, pode ajudar você a crescer e alcançar grandes resultados</p>
    </div>
  </div>
</section>


<!-- EDU -->
<!-- <div id="preloader" class="preloader"></div>

<header class="brand-header">
  <h1 class="brand-header__logo">RD Station</h1>
</header>

<section class="hero-header">
  <div class="content-wrapper">
    <div class="hero-header__content-block col-sm-6">
    <h1>Sua Instituição de Ensino precisa focar na <strong>retenção e captação de alunos</strong>?</h1>
    <p>Trabalha com cursos livres, cursos online, EAD, escolas, faculdades ou universidades? Veja como o <strong class="no-break">RD Station</strong>, nossa plataforma de integração e automação de marketing, pode ajudar sua instituição na retenção e captação de alunos.</p>
    </div>
  </div>
</section> -->
