<!-- PRELOADER -->
{% include _elements/preloader.html %}

<!-- BRAND-HEADER - RESULTADOS DIGITAIS-->
{% include _elements/brand-header.html
  brand     = "rdstation"
  brandName = "Resultados Digitais"
%}

{% include _elements/header-typ.html
  title         = "Obrigado por se cadastrar!"
  message       = "Nossos consultores entrar&atilde;o em contato em breve para uma conversa sobre como levar sua ag&ecirc;ncia para outro n&iacute;vel"
  downloadlink  = "http://www.google.com"
  downloadcopy  = "Faça o download aqui"
%}
