* {
 font-family: "Roboto", sans-serif;
 color: $black;
}

body {
  background-color: $white;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  font-weight: 300;
}
h5, h6, p, p.lead {
  line-height: 1.7;
  font-weight: 300;
}
p {
  font-size: 18px;
}
strong {
  font-weight: 500;
  color: inherit;
}
.no-break {
  white-space: nowrap;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .clearfix>.wrapper {
    padding: 0 100px;
  }
}

@media (min-width: 1200px) {
  .content-wrapper, .clearfix>.wrapper {
    max-width: 1120px;
    margin: 0 auto;
  }
}

.col-video {
  padding-left: 0;
}

.case-info {
  div {
    padding-right: 0;
  }
  .cases-number {
    font-size: 30px;
    color: $base-color;
  }
  .cases-description {
    font-weight: 300;
    font-size: 14px;
  }
}

.content-block {
  padding: 0px 60px !important;
  position: relative;
  margin: 60px 0;
  display: inline-block;
  h1 {
    font-size: 28px;
    max-width: 600px;
    margin: 0 0 40px;
  }
  p {
    max-width: 600px;
  }
}
.content-block::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  left: 0px;
}
  .content-block:nth-child(odd)::before {
    background-color: $base-color;
  }
  .content-block:nth-child(even)::before {
    background-color: $second-color;
  }

.content-header {
    padding: 40px 60px 60px 0px;
    color: $white;
    @include fullwidthbox($base-color);
    h2 {
      font-size: 22px;
    }
}

.content-header--whitesecond {
  padding: 40px 60px 0px 0px;
  color: $black;
  @include fullwidthbox($white);
  h1 {
    font-size: 40px;
    font-weight: 400;
  }
  h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .content-header {
    padding: 40px 60px 60px 60px;
  }
  .content-header--whitesecond {
    padding: 40px 60px 0px 60px;
  }
}

.brand-header {
  background-color: $black;
  padding: 14px 0;
}
.brand-header__logo {
  width: 132px;
  height: 27px;
  margin: 0 auto;
  overflow: hidden;
  background-image: $logo-rdstation;
  background-size: contain;
  text-indent: -9999px;
}

.hero-header {
  background-image: $hero-header;
  background-size: cover;
  background-position: center center;
}
.hero-header__content-block {
  background-color: $base-color;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
  min-height: 420px;
  h1 {
    color: $white;
  }
  p {
    color: $white;
    font-size: 18px;
  }
}

.content-section {
  padding: 0;
}

.call_button {
  @include button($base-color, $white, 100%);
}

.btn-primary {
  @include button($second-color, $white, auto);
  display: inline-block;
  margin: 0 auto 50px;
}

.content-header__btn {
  margin: 20px auto 0;
  display: block;
  text-align: center;
}

/* SOCIAL SHARE */
#container section div.socialfloating {
  position: absolute;
  left: 10px;
  width: 9%;
}
#container section div.socialfloating iframe {
  margin: 0;
}

@media screen and (min-width: 1366px) {
  #container section div.socialfloating {
    top: 360px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1366px) {
  #container section div.socialfloating {
    top: 360px;
  }
}

@media screen and (max-width: 992px) {
  #container section div.socialfloating {
    display: none;
  }
  .col-video {
    padding: 0;
    margin: 0 -30px;
  }
  .case-info {
    margin-top: 25px;
    &>div {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.fb_iframe_widget {
  padding-bottom: 8px;
}
#container #social-share .vertical-share .twitter-share,
#container #social-share .vertical-share .linkedin-share,
#container #social-share .vertical-share .gplus-share,
#container #social-share .vertical-share .fb-share {
  display: inline-block;
  margin-right: 10px;
}

#conversion, #resources {
  background-color: $second-color;
  padding: 0px;
  header {
    padding: 40px 40px 15px;
    background-color: rgba(0,0,0,0.2);
    margin: 0 0px 20px;
    h1, h2 { font-size: 24px; }
    h1, h2, p {
      color: $white;
    }
  }
  section {
    padding: 0 40px 30px;
    #error-container p {
      font-size: 16px;
      color: $white;
    }
    .field {
      margin-bottom: 15px;
      label, label span {
        color: $white;
        font-size: 16px;
        font-weight: 300;
      }
      input, select {
        border: 0;
        border-bottom: 2px solid $second-color--light;
        outline: 0;
        @include border-radius(0px);
        font-size: 16px;
        font-weight: 300;
        color: $black;
        padding: 5px 8px;
        width: 100%;
      }
    }
    p.notice {
      font-size: 14px;
      margin: 20px 0 0;
      color: $white;
    }
  }
}
.rich-resource {
  margin: 25px 0 20px 0;
  display: block;
  a {
    color: $white;
    font-size: 22px;
    font-weight: 300;
    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
  }
}
#conversion {
  display: none;
}
#content{
  padding-left: 0;
  padding-right: 0;
}
