// GOOGLE FONTS CALL
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic');

////////
// UNITY
////////
$hor-unity: 14px;
$ver-unity: 14px;

/////////
// COLORS
/////////
//AGENCIAS
$base-color: #43B0C3;
$secondary-color: #9E67C5;

//TEC
// $base-color: #19AF8E;
// $secondary-color: #536564;

//EDU
$base-color: #D83A56;
$secondary-color: #4385DA;

// SHADES
$base-color--dark: darken($base-color, 15%);
$base-color--light: lighten($base-color, 15%);
$secondary-color--dark: darken($secondary-color, 15%);
$secondary-color--light: lighten($secondary-color, 15%);

// BLACKS AND WHITES
$black: #304955;
$white: #f9fafc;
$dark-grey: lighten($black, 5%);
$light-grey: darken($white, 15%);

////////////
// PRELOADER
////////////
$preloader--background: $white;
$preloader--image: url('https://rawgit.com/matheushbonetti/mkt-landingpages/master/img/preloader.svg');

///////////////
// BRAND-HEADER
///////////////
$brand-header--color: $black;
// LOGO RESULTADOS DIGITAIS:
$rd-logo: url('https://rawgit.com/matheushbonetti/mkt-landingpages/master/img/logo-rd.svg');
// LOGO RESULTADOS DIGITAIS BRANCO:
$rd-logo--white: url('https://rawgit.com/matheushbonetti/mkt-landingpages/master/img/logo-rd--white.svg');
// LOGO RD STATION BRANCO:
$rdstation-logo--white: url('https://rawgit.com/matheushbonetti/mkt-landingpages/master/img/logo-rdstation--white.svg');

//////////////
// HERO HEADER
//////////////
//AGENCIAS
// $hero-header--image: url('https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1460997025agencias.jpg');
//TEC
// $hero-header--image: url('https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1461159806tecnologia.jpg');
//EDU
$hero-header--image: url('https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1461074608educacao.jpg');

$hero-header--bg-color: $base-color;
$hero-header--txt-color: $white;
$hero-header--min-height: 420px;

//========
//////////
// CONTENT
//////////
//========

/////////////////
// CONTENT-BLOCK
/////////////////
$content-block--featured--base--bg-color: $base-color;
$content-block--featured--base--txt-color: $white;

$content-block--featured--secondary--bg-color: $secondary-color;
$content-block--featured--secondary--txt-color: $white;
