// GOOGLE FONTS CALL
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic);

//COLORS
$base-color: #43B0C3;
$base-color--dark: darken($base-color, 15%);
$base-color--light: lighten($base-color, 15%);

$second-color: #9E67C5;
$second-color--dark: darken($second-color, 15%);
$second-color--light: lighten($second-color, 15%);


// BLACKS AND WHITES
$black: #304955;
$white: #f9fafc;
$dark-grey: lighten($black, 5%);
$light-grey: darken($white, 15%);


// PRELOADER
$preloader--background: $white;
$preloader--image: url('https://cdn.rawgit.com/matheushbonetti/mkt-landingpages/master/img/default.svg');

// BRAND-HEADER
$brand-header--color: $black;
// LOGO RESULTADOS DIGITAIS:
$brand-header__logo: url(https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1460554742marca_rd_station.svg);

$hero-header: url(https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1460997025agencias.jpg);
