@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}

@mixin fullwidthbox($color) {
  position: relative;
  background-color: $color;
  &:before{
    content: "";
    width: 9999px;
    height: 100%;
    display: block;
    background-color: $color;
    position: absolute;
    left: 100%;
    top: 0;
  }
  &:after{
    content: "";
    width: 9999px;
    height: 100%;
    display: block;
    background-color: $color;
    position: absolute;
    right: 100%;
    top: 0;
  }
}

@mixin fullwidthimage($image) {
  background-image: $image;
  background-size: cover;
}

@mixin button($btn-color, $btn-text-color, $btn-width) {
  background-color: $btn-color;
  color: $btn-text-color;
  outline: 0;
  width: $btn-width;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0px;
  @include box-shadow(0 3px 5px rgba(0,0,0,0.2));
  border: 1px solid lighten($btn-color, 15%);
  border-bottom: 2px solid lighten($btn-color, 15%);
  @include transition(all .4s);
  &:hover {
    background-color: darken($btn-color, 5%);
    @include box-shadow(0 3px 10px rgba(0,0,0,0.3));
    border: 1px solid $btn-color;
    border-bottom: 2px solid $btn-color;
    text-decoration: none;
  }
}
