<div class="content-block content-case row">
  <div class="col-md-4">
    <img style="width: 100%; height: auto;" src="{{include.imgSrc}}" alt="" />
  </div>
  <div class="col-md-8">
    <h1>{{include.caseName}}</h1>
    <div class="case-info row">
      <div class="col-md-4">
        <span class="cases-number">{{include.caseData1}}</span><br /> <span class="cases-description">{{include.caseInfo1}}</span>
      </div>
      <div class="col-md-4">
        <span class="cases-number">{{include.caseData2}}</span><br /> <span class="cases-description">{{include.caseInfo2}}</span>
      </div>
      <div class="col-md-4">
        <span class="cases-number">{{include.caseData3}}</span><br /> <span class="cases-description">{{include.caseInfo3}}</span>
      </div>
    </div>
  </div>
</div>
