<!-- TECNOLOGIA -->
<section class="content-section content-block--featured--imaged">
  <div class="content-wrapper content-block content-block--featured">
    <div class="content-case">
      <h1 class="text-center">Como a <strong>SocialBase</strong> foi do zero a uma presença eficiente em Marketing Digital</h1>
      <div class="row">
        <div class="col-md-6 col-video">
          <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l_YCmSuWP-o" width="320" height="240" frameborder="0" allowfullscreen=""></iframe></div>
        </div>
        <div class="col-md-6">
          <div class="case-info row">
            <div class="col-md-4">
              <span class="cases-number">80%</span><br> <span class="cases-description">mais Leads que em 2014</span>
            </div>
            <div class="col-md-4">
              <span class="cases-number">650%</span><br> <span class="cases-description">mais vendas que em 2014</span>
            </div>
            <div class="col-md-4">
              <span class="cases-number">70k+</span><br> <span class="cases-description">fãs na página do Facebook</span>
            </div>
            <div class="col-md-12">
              <a class="btn-primary content-header__btn text-center" target="_blank" href="http://blog.rdstation.com.br/estudos-de-caso/como-a-socialbase-foi-do-zero-a-uma-presenca-eficiente-em-marketing-digital/">Conheça o case</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
