<div class="content-header content-block content-block--featured content-block--featured--base">
  <h1>Conhe&ccedil;a mais dos nossos materiais ricos para Ag&ecirc;ncias</h1>
  <p>&nbsp;</p>
  <div class="row">
    {% include _elements/rich-resource.html
      resourcelink   = "http://materiais.resultadosdigitais.com.br/inbound-marketing-guia-basico"
      resourceImgSrc = "https://d335luupugsy2.cloudfront.net/images/landing_page/99122/ebook_thank-u-page.png"
      resourceName   = "<strong>Guia:</strong> Inbound Marketing - tudo o que sua ag&ecirc;ncia precisa saber"
    %}

    {% include _elements/rich-resource.html
      resourcelink   = "http://materiais.resultadosdigitais.com.br/ebook-os-desafios-das-agencias-de-resultados"
      resourceImgSrc = "https://d335luupugsy2.cloudfront.net/images/landing_page/43618/offer-logo.png"
      resourceName   = "<strong>eBook:</strong> Os principais desafios das ag&ecirc;ncias de resultados"
    %}

    {% include _elements/rich-resource.html
      resourcelink   = "http://materiais.resultadosdigitais.com.br/17-servicos-de-inbound-marketing"
      resourceImgSrc = "https://d335luupugsy2.cloudfront.net/images/landing_page/15904/offer-logo.png"
      resourceName   = "<strong>eBook:</strong> 17 servi&ccedil;os de Inbound Marketing que sua empresa pode oferecer"
    %}
  </div>
</div>
