<!-- EDU -->
<section class="hero-header">
  <div class="content-wrapper">
    <div class="hero-header__content-block col-sm-6">
    <h1>Sua Instituição de Ensino precisa focar na <strong>retenção e captação de alunos</strong>?</h1>
    <p>Trabalha com cursos livres, cursos online, EAD, escolas, faculdades ou universidades? Veja como o <strong class="no-break">RD Station</strong>, nossa plataforma de integração e automação de marketing, pode ajudar sua instituição na retenção e captação de alunos.</p>
    </div>
  </div>
</section>
