// GOOGLE FONTS CALL
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,500,500italic);

// // Edu
// //COLORS
//
// $base-color: #D83A56;
// $base-color--dark: darken($base-color, 15%);
// $base-color--light: lighten($base-color, 15%);
//
// $second-color: #4385DA;
// $second-color--dark: darken($second-color, 15%);
// $second-color--light: lighten($second-color, 15%);


// // Tec
// //COLORS

// $base-color: #19AF8E;
// $base-color--dark: darken($base-color, 15%);
// $base-color--light: lighten($base-color, 15%);
//
// $second-color: #536564;
// $second-color--dark: darken($second-color, 15%);
// $second-color--light: lighten($second-color, 15%);


// Agencias
//COLORS
//
$base-color: #43B0C3;
$base-color--dark: darken($base-color, 15%);
$base-color--light: lighten($base-color, 15%);

$second-color: #9E67C5;
$second-color--dark: darken($second-color, 15%);
$second-color--light: lighten($second-color, 15%);


//BLACKS AND WHITES
$black: #304955;
$white: #f9fafc;
$dark-grey: lighten($black, 5%);
$light-grey: darken($white, 15%);


// IMAGES
$logo-rdstation: url(https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1460554742marca_rd_station.svg);

//Agencia
$hero-header: url(https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1460997025agencias.jpg);
//Tec
// $hero-header: url(https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1461159806tecnologia.jpg);
//Edu
// $hero-header: url(https://rdstation-static.s3.amazonaws.com/cms%2Ffiles%2F877%2F1461074608educacao.jpg);
