//COLORS

$base-color: #009EC1;
$base-color--dark: darken($base-color, 20%);
$base-color--light: lighten($base-color, 20%);

$second-color: #F29609;
$second-color--dark: darken($second-color, 20%);
$second-color--light: lighten($second-color, 20%);

$third-color: #E7295D;
$third-color--dark: darken($third-color, 20%);
$third-color--light: lighten($third-color, 20%);


// BLACKS & WHITES

$black: #284850;
$white: #F8FAFB;
$dark-grey: lighten($black, 5%);
$light-grey: darken($white, 15%);
