.rich-resource {
  padding: 0 20px;
}

.content-case {
  padding: 40px 60px;
  text-align: left;
  h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 15px;
  }
  &>.row {
    margin: 30px 0;
    .cases-number {
      color: $white;
      font-size: 32px;
      font-weight: 500;
      margin-top: 20px;
      text-align: left;
    }
    .cases-description {
      color: $white;
      font-size: 13px;
      font-weight: 300;
      text-align: left;
    }
  }
  .btn-primary {
    margin-top: 20px;
  }
}

.content-case--featured {
  text-align: center;
  h1 {
    color: $white;
    text-align: center;
  }
  &>.row {
    .cases-number, .cases-description {
      color: $white;
      text-align: center;
    }
  }
}

.content-block--styled {
  position: relative;
  padding: 1*$ver-unity 4*$hor-unity;
  margin: 2*$ver-unity auto;
  &::before {
    content: "";
    width: 5px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  &:nth-child(odd)::before {
    background-color: $base-color;
  }
  &:nth-child(even)::before {
    background-color: $secondary-color;
  }
}

@media screen and (max-width: 768px) {
  .content-block {
    padding: 2*$ver-unity 2*$hor-unity;
  }
}
