#preloader {
  background: $preloader--background $preloader--image no-repeat center center;
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
