<!DOCTYPE html>
<html>

  {% include head.html %}
  {% include calls.html %}

  <body>
    <div id="container">
      <header>
        <div class="wrapper">

        <!-- PRELOADER -->
        {% include preloader.html %}

        <!-- BRAND-HEADER - RESULTADOS DIGITAIS
        {% include brand-header-RD.html %}
        -->

        <!-- BRAND-HEADER - RD STATION -->
        {% include brand-header-RDStation.html %}

        </div>
      </header>

      <section class="clearfix">
      <div class="wrapper">
        <div id="content" class="left">
          {{ content }}
        </div>

      {% include footer.html %}

      </div>
      {% include callsfooter.html %}
    </div>

  </body>

</html>
